 {% load bootstrap4 %}
 <div class="modal fade" id="createCampaignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <form method="post" id="create-campaign-form">
      {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitleContact">CreateCampaign </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">        

        	
         
              {% bootstrap_form campaign_form %}
			
      
          
 
        </div>
        <div class="modal-footer">
         
         <input class="btn btn-primary" type="submit" value="Send" />
         
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
function sendEmail(form){
    let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    fetch("{% url 'contact_management:send_email_form' 'xxxxxxxx' %}".replace('xxxxxxxx',form.toString()),{method:"Post",headers:{"X-CSRFToken": csrfValue,"X-Requested-With": "XMLHttpRequest"}}
            ).then(function(response) {
          return response.json();
        }).then(function(data) {            
            //let info = data;
            //let newContact = JSON.parse(info["new_contact"])[0];
            //console.log(newContact);
            console.log('check the logs')
            
        }

        )
        $('#emailFormModalForContacts').modal('hide')
          }
$('#email-form-for-contacts').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    let form = $('#email-form-for-contacts').serialize();
    console.log(form);
    let formData = $('#email-form-for-contacts').serializeArray();    
    var json_text = JSON.stringify(formData, null, 2);    
    let json_obj = JSON.parse(json_text);
    let dictionary = Object.assign({}, ...formData.map((x) => ({[x.name]: x.value})));    
    console.log(dictionary);
    dictionary["contact_id"]=dictionary["email-form-for-contacts-contact-id"];
    console.log('this is how we do it');
    console.log(JSON.stringify(dictionary));
    sendEmail(JSON.stringify(dictionary));
    
});
</script>