{% extends 'contact_management/base.html' %}
{% load bootstrap4 %}
{% load extras %}
{% load render_table from django_tables2 %}
{% block content %}
<style type="text/css">
.anyClass {
  height:1000px;
  overflow-y: scroll;
}
.table-line {
	line-height: 20px;
}
.scroll-div-small {
  height:200px;
  overflow-y: scroll;
}
</style>



<div class="content-wrapper">	
	<div class="row">		
		<div class="col-sm-3">
			<div class="card">
				<div class="card-body">						
					<div class="card-title">email campaign details</div>
						
					<div class="table-responsive-sm">
						<table class="table table-lg table-hover">
							<tr>
								<th>SUBJECT</th>
								<td>{{object.subject}}</td>
							</tr>
							<tr>
								<th>DATE</th>
								<td>{{object.date}}</td>
							</tr>
							<tr>
								<th>DESCRIPTION</th>
								<td>{{object.description}}</td>
							</tr>
							<tr>
								<th>TEMPLATE</th>
								<td>{{object.template}}</td>
							</tr>
							<tr>
								<th>CONTACTS</th>
								<td>{{object.contacts.all|length}}</td>
							</tr>
							<tr>
								<th>LEADS</th>
								<td>{{object.leads.all|length}}</td>
							</tr>
							<tr>
								<th>ACCOUNTS</th>
								<td>{{object.accounts.all|length}}</td>
							</tr>
							<tr>
								<th>EDIT</th>
								<td><a href="{% url 'contact_management:email_campaign_update_view' pk=object.pk %}"><i class="mdi mdi-pencil icon-md mr-3"></i></a></td>
							</tr>
							<tr>
								<th>OTHER CAMPAIGNS</th>
								<td>
									<div class="dropdown show">
							  <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    SELECT
							  </a>

							  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							  	{% if campaigns %}
							  	{% for c in campaigns %}
							    <a class="dropdown-item" href="{% url 'contact_management:email_campaign_detail_view' c.pk %}">{{c.date}}: {{c.description}}</a>
							    {% endfor %}
							    {% endif %}
							  </div>
						</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			{% if object.sent == False %}
			<div class="card anyClass">
				<div class="card-body">
					<div class="card-title">Campaign Contacts</div>

					
						<div class="table-responsive-sm">
							<table class="table table-sm table-hover" id="campaign-contacts">
								
								<thead>
									<tr>
										<th></th>
										<th>TYPE</th>
										<th>NAME</th>
										<th>ACCOUNT</th>
										<th>Remove</th>
									</tr>
								</thead>
								<tbody>
		
								</tbody>
							</table>
						</div>
				</div>
			</div>
			{% endif %}

		</div>		
		<div class="col-sm-9">
			{% if object.sent == False %}
		
			<div class="card anyClass">
				<div class="card-body">
					<div class="card-title">Email Contacts</div>
						<div class="table-responsive-sm">
							{% if filtered == True %}
							<form method="post" action="." id="add-all-form">
								{% csrf_token %}
								
								<input onclick="return confirm('you sure?')" type="submit" class="btn btn-sm btn-primary" name="submit" id="add-all-submit" value="Add All {{contacts|length}}">
							</form>
							{% endif %}	
							<div class="table-responsive">
								<form id="contacts-add-form" method="post">		 {% csrf_token %}
									<table class="table table-bordered table-striped table-hover" id="contacts-table"  style="table-layout: fixed;">
										<thead>
											<tr>
												<th></th>
												<th>NAME</th>
												<th>ACCOUNT</th>
												<th>EMAIL</th>
												<th>TYPE</th>
												<th>STATE</th>
												<th></th>
											</tr>
										</thead>							 
									 <tbody></tbody>
									 <tfoot></tfoot>
									</table>
								</form>
							</div>
							<!--{% if table %}
							{% render_table table %}
							{% endif %}-->
							
						</div>					
				</div>
			</div>
			{% endif %}
			{% if object.sent == True %}
			<div class="card">
				<div class="card-body">
					<div class="card-title">STATS</div>
					<div class="table-responsive">
						<table class="table table-borderless table-sm" id="stats-table">
							<thead>
								<tr>
									<th class="text-center">SENT</th>
									<th class="text-center">DELIVERED</th>
									<th class="text-center">OPENS</th>
									<th class="text-center">UNIQUE OPENS</th>
									<th class="text-center">CLICKS</th>
									<th class="text-center">UNIQUE CLICKS</th>
									<th class="text-center">UNSUBSCRIBE</th>
									<th class="text-center">BOUNCE</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card anyClass">
				<div class="card-body">
				<div class="card-title">MESSAGES</div>					

					<div class="table-responsive">
						<table class="table table-sm table-hover" id="messages-table">
							<thead>
								<tr>
									<th>NAME</th>
									<th>COMPANY</th>
									<th>OPENS</th>
									<th>CLICKS</th>
									<th>LINKS</th>
									<th>BOUNCES</th>
									<th>UNSUBSCRIBES</th>
									<th>LAST</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
							<tfoot></tfoot>
						</table>
						<!--
						{% if message_table %}
					{% render_table message_table %}
					{% endif %}-->
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var campaignId = "{{object.pk}}"
		Promise.all([
			fetch("{% url 'contact_management:campaign_contacts' 123456789 %}".replace(/123456789/,campaignId.toString()),{}),
			fetch("{% url 'contact_management:email_contacts_feed' %}",{}),
			fetch("{% url 'contact_management:email_campaign_messages_feed' 999888777 %}".replace('999888777',campaignId.toString()),{}),
			fetch("{% url 'contact_management:campaign_ajax' campaign_id=987654321 %}".replace(/987654321/,campaignId.toString()))

			]).then(function(responses){
				return Promise.all(responses.map(function(response){
					return response.json();
				})).then(function(data){
					var loadData = data;
					return loadData;
				}).then(function(data){
					var targets = data[0]["targets"];
					var contacts = JSON.parse(data[1]["contacts"]);
					var messages = JSON.parse(data[2]["campaign"]);
					var stats = [JSON.parse(data[3]["stats"])];
					console.log(messages);
					console.log(contacts);
					console.log(stats);
					var campaignContactsTable = $('#campaign-contacts').dataTable({
						"destroy":true,
						dom:"Blftrip",
						pageLength:100,
						fixedWidth:true,
						fixedHeader:{
							
							header:true,
							headerOffset:45,
						},
						buttons:[
							"selectAll",
							"selectNone",	
							"copy",
							"excel",
							{"extend":"pdfHtml5","orientation":"landscape","title":"CAMPAIGN CONTACTS"},
							{
								text:"EMAIL CONTACTS",
								action:function(e,dt,node,config){
									confirm("would you like to send out this email?");
									fetch("{% url 'contact_management:send_email_campaign' 'XXXXX' %}".replace('XXXXX',campaignId.toString()),{}).then(location.reload());
								}
							},
							{
								text:"SEND TEST EMAIL",
								action:function(e,dt,node,config){
									confirm('would you like to send this email to yourself?');
									console.log(campaignId);
									fetch("{% url 'contact_management:datatable_send_test' 'XXXXX' %}".replace('XXXXX',campaignId.toString()),{});
								}
							}

						],
						data:targets,
						columns:[
							{"data":"ID","visible":false,"defaultContent":'',},
							{"data":"TYPE","defaultContent":'',},
							{"data":"CONTACT_NAME","defaultContent":'',},
							{"data":"ACCOUNT_NAME","render":function(data,type,row,meta){return`<div class="text-wrap width="200">`+data+`</div>`},"defaultContent":'',},
							{"data":null,"defaultContent":'',"render":function(data,type,row,meta) {return `<a class="btn btn-danger" onclick="removeContactFromCampaign(`+campaignId+`,'`+row["TYPE"]+`',`+row["ID"]+`)">REMOVE</a>`}}
							
						]
					});
					var emailContactsTable = $('#contacts-table').DataTable({
						"destroy":true,
						dom:"Blftrip",
						pageLength:100,
						fixedHeader:{
							
							header:true,
							headerOffset:45,
						},
						buttons:[
							"copy",
							"excel",
							{"extend":"pdfHtml5","orientation":"landscape","title":"CAMPAIGN CONTACTS"},
							"selectAll",
							"selectNone",
							{"text":"Add Filtered","action":function(e,dt,node,config){
								var rowsSelected = emailContactsTable.rows(
									{"search":"applied"});
								rowsSelected.select();
								
							}
						},
							 {
				                "text": 'Get selected data',
				                "action": function () {
				                	var table = $('#contacts-table').DataTable();
				                    var rows = table.rows('.selected').data()
				                	$(rows).each(function(i){
				                		row = this;
				                		addContactToCampaign(row["type"],row["pk"],campaignId);
				                	})
				                }
				            },
							

						],
						data:contacts,
						columns:[
							{"data":null,'searchable': false,
         						'orderable': false,
         						'width':"5%",
         						'className': 'select-checkbox',
         						'defaultContent':`<span></span>`,	
         						
        					 },
							{"data":"full_name","width":"20%"},
							{"data":"account","render":function(data,type,row,meta){return `<div class="text-wrap width="100">`+data+`</div>` },"width":"20%"},
							{"data":"email","render":function(data,type,row,meta){return `<div class="text-wrap width="200">`+data+`</div>`},"width":"20%"},
							{"data":"type","width":"7%"},
							{"data":"state","width":"5%"},
							{"data":null,"width":"5%","render":function(data,type,row,meta){
								return `<a class="btn btn-danger" onclick="addContactToCampaign('`+row["type"]+`','`+row["pk"]+`','`+campaignId+`')">Add</a>`
							}}
							
						],
						orderCellsTop:true,
						columnDefs: [{
					         targets: 0,
					         checkboxes:{selectRow:true,}					         
					         
					      }],
					      
					      select:{
					      		style: 'multi',

					      },
					      order:[[1,"asc"]]
					})
					$('.buttons-select-all').on("click",function(e){
						var count = emailContactsTable.rows( { selected: true } ).count();
						console.log(count);
					})
					 $('#contacts-table thead tr').clone(false).appendTo( '#contacts-table thead' );
			   		 $('#contacts-table thead tr:eq(1) th').each( function (i) {
			   		 	 if(i!==0 && i!==6){
			        var title = $(this).text();
			        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );}
			 
			        $( 'input', this ).on( 'keyup change', function () {
			            if ( emailContactsTable.column(i).search() !== this.value ) {
			                emailContactsTable
			                    .column(i)
			                    .search( this.value )
			                    .draw();
			            }
			        } );
    				});
			   		$('#messages-table').DataTable({
			   			data:messages,
			   			dom:"Bftrip",
			   			columns:[
			   				{"data":"FIRST_NAME","defaultContent":"","render":function(data,type,row,meta){
			   						return row["FIRST_NAME"]+` `+row["LAST_NAME"]
			   				}},
			   				{"data":"ACCOUNT_NAME"},
			   				{"data":"OPENED"},
			   				{"data":"CLICKED"},
			   				{"data":"CLICKEDURL","defaultContent":"","render":function(data,type,row,meta){return `<div class="text-wrap" width="100">`+data+`</div>`}},
			   				{"data":"BOUNCED"},
			   				{"data":"UNSUBSCRIBED"},
			   				{"data":"DATETIME"}
			   			],
			   			buttons:[
			   				{"text":"Follow-Up"},
			   			]
			   		});
			   		$('#stats-table').DataTable({
			   			data:stats,
			   			dom:"Bftrip",
			   			columns:[
			   				{"data":"sent",},
			   				{"data":"delivered"},
			   				{"data":"opens"},
			   				{"data":"unique_opens"},
			   				{"data":"clicks"},
			   				{"data":"unique_clicks"},
			   				{"data":"unsubscribes"},
			   				{"data":"bounces"}
			   			],
			   			buttons:[
			   				{"text":"Follow-Up"},
			   			]
			   		})					
				})
			});
		//try to do something with Promise.all([])
		/*
		var campaignId = "{{object.pk}}";
		fetch("{% url 'contact_management:campaign_contacts' 123456789 %}".replace(/123456789/,campaignId.toString()),{

		}).then(function(response){
			return response.json();
		}).then(function(data){
			var targets = data["targets"];
			return targets;
		}).then(function(data){
			var campaignContacts = data;
			var campaignContactsTable = $('#campaign-contacts').dataTable({
				"destroy":true,
				dom:"Bftrip",
				fixedHeader:{
					header:true,
					headerOffset:45,
				},
				buttons:[
					"copy",
					"excel",
					{"extend":"pdfHtml5","orientation":"landscape","title":"CAMPAIGN CONTACTS"},
					{
						text:"EMAIL CONTACTS",
						action:function(e,dt,node,config){}
					}

				],
				data:campaignContacts,
				columns:[
					{"data":"TYPE"},
					{"data":"CONTACT_NAME"},
					{"data":"ACCOUNT_NAME","render":function(data,type,row,meta){return`<div class="text-wrap width="200">`+data+`</div>`}},
					{"data":null,"render":function(e,dt,node,config){return `<button>REMOVE</button>`}}
					
				]
			})
		})
	*/})
</script>
<script type="text/javascript">
	function addContactToCampaign(type,id,campaign){
		fetch_url = "{% url 'contact_management:add_contact_to_campaign_from_datatable' campaign_id=123456789 contact_type='CONTACTTYPE' contact_id=987654321 %}".replace(/123456789/,campaign.toString()).replace(/CONTACTTYPE/,type.toString()).replace(/987654321/,id.toString())
		fetch(fetch_url,{

		}).then(function(response){
			return response.json();
		}).then(function(data){

			var newContact = data["contact"];
			$('#campaign-contacts tbody').prepend(`<tr><td style="display:none;">>${newContact["ID"]||""}</td><td>${newContact["TYPE"]||""}</td><td>${newContact["NAME"]||""}</td><td>${newContact["ACCOUNT"]||""}</td><td><a class="btn btn-danger">REMOVE</a></td></tr>`)
		}
		)
	}

			 
			
</script>
<script type="text/javascript">
	function removeContactFromCampaign(campaign,type,id){
			fetch_url = "{% url 'contact_management:remove_contact_to_campaign_from_datatable' campaign_id=123456789 contact_type='CONTACTTYPE' contact_id=987654321 %}".replace(/123456789/,campaign.toString()).replace(/CONTACTTYPE/,type.toString()).replace(/987654321/,id.toString())
		fetch(fetch_url,{

		}).then(function(response){
			return response.json();
		}).then(function(data){
			$("#campaign-contacts").on("click", ".btn-danger", function() {
   			$(this).closest("tr").remove();
});
		})
	}
</script>
<!--
 <script>
 		function addContactToCampaign(campaign=1,contactType='CONTACT',contactPk=8540) {
 			let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
 			
 			if(campaign == null){
 				
 			}
 			var dj_url = "{% url 'contact_management:add_contact_to_campaign_ajax' campaign_id=123456789 contact_type='CONTACTTYPE' contact_pk=987654321 %}".replace(/123456789/,campaign.toString()).replace(/CONTACTTYPE/,contactType.toString()).replace(/987654321/,contactPk.toString())
 			
 			fetch(dj_url,{method:"Post",headers:{"X-CSRFToken": csrfValue,
		        "X-Requested-With": "XMLHttpRequest"}}
		        ).then(function(response) {
		      return response.json();
		    }).then(function(data) {
		      
		      //console.log(JSON.parse(data.new_contact));
		      let instance = JSON.parse(data.new_contact);
		      let fields = instance[0]["fields"]
		      
		      /*
		      let instance = JSON.parse(data);
		      let fields = instance[0]["fields"];
		      let pk = instance[0]["pk"]
		      let lead_instance = JSON.parse(data["lead"])
		      let lead_fields = lead_instance[0]["fields"]
		      let matchesList = document.querySelector(".matches");
		      let noMatchesFlag= document.querySelector(".no-matches");
		      if(noMatchesFlag) {
		        matchesList.removeChild(noMatchesFlag);
		      }
		      */
		      $("#campaign-contacts tbody").prepend(
                    `<tr>                    
                    <td>${fields["first_name"] ||""}</td>
                    <td>${fields["last_name"] ||""}</td>
                    <td>${fields["account"] ||""}</td>

                    </tr>`
               )
		      

		    }).catch((error) => {
		      console.error("Error", error);
		    })

 		}
  		function searchAccounts(formData) {
		   
		    let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
		    fetch("", {
		      method: "Post",
		      headers: {
		        "X-CSRFToken": csrfValue,
		        "X-Requested-With": "XMLHttpRequest"
		      },
		      body: formData
		    }).then(function(response) {
		      return response.json();
		    }).then(function(data) {
		      searchForm.reset();
		     
		      let instance = JSON.parse(data["possible_matches"]);
		      let fields = instance[0]["fields"];
		      let pk = instance[0]["pk"]
		      let lead_instance = JSON.parse(data["lead"])
		      let lead_fields = lead_instance[0]["fields"]
		      let matchesList = document.querySelector(".matches");
		      let noMatchesFlag= document.querySelector(".no-matches");
		      if(noMatchesFlag) {
		        matchesList.removeChild(noMatchesFlag);
		      }
		      $("#match-list tbody").prepend(
                    `<tr>                    
                    <td>${pk||""}</td>
                    <td>${fields["name"]||""}</td>
                    <td>${fields["billing_city"]||""}</td>
                    <td>${fields["billing_state"]||""}</td>
                    <td>${fields["billing_postcode"]||""}</td>
                    </tr>`
               )
		      $("#lead-table tbody").prepend(
                    `<tr>     
                    <td>${lead_fields["first_name"]||""}</td>
                    <td>${lead_fields["last_name"]||""}</td>
                    <td>${lead_fields["account_name"]||""}</td>
                    <td>${lead_fields["city"]||""}</td>
                    <td>${lead_fields["state"]||""}</td>

                    </tr>`
               )

		    }).catch((error) => {
		      console.error("Error", error);
		    })
		  }   

		  function submitLead(e) {
		  	
		    e.preventDefault();
		    let content = document.querySelector("#id_account_name").value;
		    if(content){
		      let formData = new FormData(searchForm);
		      searchAccounts(formData);
		    }else {
		      console.log("You cannot submit an empty form")
		    }
		  }

		  function addContact(e) {
		  	
		  	e.preventDefault();
		  	alert(cliecked_id)
		  	let value = alert(clicked_id)
		  	console.log(value)
		  	}
		  function addContactCampaign(campaign,contactType,contactPk){
		  	let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
		  	var dj_url = "{% url 'contact_management:ajax_add_contact_to_campaign' campaign_id=123456789 contact_type='CONTACTTYPE' contact_pk=987654321 %}".replace(/123456789/,campaign.toString()).replace(/CONTACTTYPE/,contactType.toString()).replace(/987654321/,contactPk.toString())
		  	fetch(dj_url,{method:"Post",headers: {
		        "X-CSRFToken": csrfValue,
		        "X-Requested-With": "XMLHttpRequest"
		      }},)
		  }
		  function addAllContacts(e){
		  	e.preventDefault();
		  	console.log("we are right here adding contacts!");
		  	let campaign = "{{object.pk}}";
		  	let contactIds = "{{contact_dict.contact_ids}}";
		  	let cids = JSON.parse(contactIds);
		  	console.log(cids);
		  	let accountIds = "{{contact_dict.account_ids}}";
		  	let aids = JSON.parse(accountIds);
		  	console.log(aids)
		  	let leadIds = "{{contact_dict.lead_ids}}";
		  	let lids = JSON.parse(leadIds);
		  	console.log(lids);


		  	var i;
				for (i = 0; i < aids.length; i++) {
				addContactCampaign(campaign,'ACCOUNT',aids[i]);
				}
			var j;
				for (j = 0; j < cids.length; j++) {
				addContactCampaign(campaign,'CONTACT',cids[j]);
				}
			var k;
			for (k = 0; k < lids.length; k++) {
				addContactCampaign(campaign,'LEAD',lids[i]);
				}


		  }
		  
		  function getTarget(e){
		  	e.preventDefault();
		  	let campaignId = "{{object.pk}}" ;		  	
		  	let pk = e.target.name;
		  	console.log(e.target.name)
		  	let type = e.target.getAttribute('contact_type');
		  	console.log(campaignId)
		  	addContactToCampaign(campaignId,type,pk)
		  	
		  }
		  //let searchForm = document.getElementById("search-form");
		  //searchForm.addEventListener("submit", submitLead);

		  document.querySelectorAll('.form-button').forEach(item => {
 			 item.addEventListener('click', getTarget)

 		 let addAllForm = document.getElementById("add-all-form");
		 addAllForm.addEventListener("submit", addAllContacts);

  })

</script>
<script type="text/javascript">
	function getTableRows(){
		e.preventDefault();
		let content = document.querySelector(".new-rows").value;

	}
	
</script>
<script>
	function getData(){
		let objectId = "{{object.pk}}";
		
		fetch("{% url 'contact_management:campaign_ajax' campaign_id=987654321 %}".replace(/987654321/,objectId.toString())).then(function(response) {
		      return response.json();
		    }).then(function(data) {		    	
		    			    	
		    	let stats = JSON.parse(data.stats);
		    	 console.log('stats' + stats);  	
		    	var i;
		    	
		    	
		    	$("#stats tbody").prepend(
		    		`
		    		<tr>
                    <td class="text-center">${stats["sent"] ||""}</td>
                    <td class="text-center">${stats["delivered"] ||""}</td>
                    <td class="text-center">${stats["opens"] ||""}</td>
                    <td class="text-center">${stats["unique_opens"] ||""}</td>
                    <td class="text-center">${stats["clicks"] ||""}</td>
                    <td class="text-center">${stats["unique_clicks"] ||""}</td>
                    <td class="text-center">${stats["unsubscribes"] ||""}</td>
                    <td class="text-center">${stats["bounces"] ||""}</td>
					</tr>
					`
               )
                
		    	
  

		  })
	}
	document.addEventListener("DOMContentLoaded", getData);
</script>
<script type="text/javascript">
$(document).ready( function () {
	$('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
	fetch("{% url 'contact_management:email_contacts_feed' %}",{}).then(function(response){
			return response.json()
	 // Setup - add a text input to each footer cell
    $('#contacts-table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
	}).then(function(data){
		var emailList = JSON.parse(data["contacts"]);
		$('#contacts-table').DataTable({
			select:true,
			fixedColumns:true,
			pageLength:10,
			data:emailList,
			columns:[
				{data:null,defaultContent:"",checkboxes:{'selectRow':true,}},
				{data:"full_name"},
				{data:"account"},
				{data:"email"},
				{data:"type"},
				{data:"state"},
				
			],
			columnDefs: [{'width':200,"targets":[0,6]}, {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'multi',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]]
			
			

			
		})
	});
	$('.dataTables_length').addClass('bs-select');
	var objectId = "{{object.pk}}"
	//$('#messages-table').DataTable().clear()||null;
	    // Setup - add a text input to each footer cell

	fetch("{% url 'contact_management:email_campaign_messages_feed' 999888777 %}".replace('999888777',objectId.toString()),{
			}).then(function(response){
				return response.json();
			}).then(function(data){
				console.log(JSON.parse(data["campaign"]))
				var campaignInfo = JSON.parse(data["campaign"]);
				$('#messages-table').removeAttr('width').DataTable(
					{
						"scrollY":"300px",
						"scrollX": true,
						"scrollCollapse": true,
						pageLength:10,
						data:campaignInfo,
						"fixedColumns":true,
						"fixedHeader":true,
						"autoWidth":false,
						columns:[
							{data:'FIRST_NAME'},
							{data:'ACCOUNT_NAME'},
							{data:'OPENED'},
							{data:'CLICKED'},
							{data:'CLICKEDURL'},
							{data:'BOUNCED'},
							{data:'UNSUBSCRIBED'},
							{data:'DATETIME'},
						],
						columnDefs:[
							{"width":"15%",targets:[1,4]},
							{
								"targets":[0],
								"render":function(data,type,row){
									if(row["CONTACT_TYPE"]!==null&&row["CONTACT_ID"]!==null&&row["CONTACT_ID"]!==' '){var contactUrl = "{% url 'contact_management:email_contact_redirect' contact_type='CONTACT' id='XXXXXXXX' %}".replace('CONTACT',row["CONTACT_TYPE"].toString()).replace('XXXXXXXX',row["CONTACT_ID"]).toString();}else{contactUrl=""};
									;
									return `<a href="`+contactUrl+`">`+row['FIRST_NAME']+'   	'+row['LAST_NAME']+`</a>`
								}
							},
							{
							"searchable":false,
							"targets":[2,3,4,5,6,7]
							}
						]
					}

					);



			})
			

});

</script>
-->




{% endblock %}