<table>
	<tbody>
		<tr>
			<td>Hi {{first_name|title}},</td>
		</tr>
	</tbody>
</table>
<br>
<table>
	<tbody>
		<tr>
			<td>
				<p>As a  special promotion to new customers, we are offering a free promotional video to .</p><br />
				<p>In an effort to bolster our online presence, we are trying to get the word out about our company. We'd like for a couple of our customers to fill out this Google Review.</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Please follow the link and fill out the form. <a href="https://g.page/american-coatings-corporation/review?gm">Give us a review!</a></p>
			</td>
		</tr>
	</tbody>
</table>
<br>
<table>
	<tbody>
		<tr>
			<td>
				<p>If you have any needs or questions, please feel free to reach out to us.</p>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td>
				<p>Thanks!</p>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td>
				{% include 'contact_management/email_signature.html' %}
			</td>
		</tr>
	</tbody>
</table>



