{% extends 'contact_management/base.html' %}

{% block content %}
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
<script type="text/javascript">
	/* Formatting function for row details - modify as you need */
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+d.name+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+d.extn+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
        '</tr>'+
    '</table>';
}
 
$(document).ready(function() {	
	jQuery.extend({
    getValues: function(url) {
        var result = null;
        $.ajax({
            url: "{% url 'contact_management:accounts_feed' %}",
            type: 'get',
            dataType: 'json',
            async: false,
            success: function(data) {
                result = data;
                console.log(result);
            }
        });
       return result;
    }
});
    var table = $('#example').DataTable( {
        "ajax": $.getValues(),
        "columns": "columns": [
        	{ "data": "id"},
            { "data": "name" },
            { "data": "city" },
            { "data": "state" },
            { "data": "tags" },
            { "data": "phone" },
            { "data": "email" },
        ]
        
    } );
     
    // Add event listener for opening and closing details
    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>

{% endblock %}